[workspace]
authors = ["notPlancha <31565873+notPlancha@users.noreply.github.com>"]
channels = ["conda-forge"]
description = "Add a short description here"
name = "adventofcode"
platforms = ["win-64"]
version = "0.1.0"

[tasks]
black = 'ruff format *.py --config "indent-width = 2"'
jit = 'python -X jit'
profile = 'pyinstrument'
timeit = "hyperfine '$0'" # doesnt work

[dependencies]
python = ">=3.13.1,<3.14"
jupyter = ">=1.1.1,<2"
ruff = ">=0.8.3,<0.9"
pixi-pycharm = ">=0.0.8,<0.0.9"
parsimonious = ">=0.10.0,<0.11"
icecream = ">=2.1.3,<3"
sympy = ">=1.13.3,<2"
glpk = ">=5.0,<6"
graphviz = ">=12.0.0,<13"
python-graphviz = ">=0.20.3,<0.21"
networkx = ">=3.4.2,<4"
pyprojroot = ">=0.3.0,<0.4"
matplotlib = ">=3.10.0,<4"
more-itertools = ">=10.5.0,<11"
snakeviz = ">=2.2.2,<3"
pyinstrument = ">=5.0.0,<6"
scipy = ">=1.14.1,<2"
r = ">=4.4,<4.5"

[pypi-dependencies]
pytictoc = ">=1.5.3, <2"

[environments]
pypy310 = {features = ["pypy310"], no-default-feature = true}
pulp = {features = ["pulp"], no-default-feature = true}
jit = {features = ["jit"], no-default-feature = false}
cplex = {features = ["cplex"], no-default-feature = true}

[feature.cplex.dependencies]
python = ">=3.12.12,<3.13"
cplex = ">=22.1.2,<23"
pyomo = ">=6.9.5,<7"
numpy = ">=2.3.5,<3"
scipy = ">=1.16.3,<2"
glpk = ">=5.0,<6"
cyipopt = ">=1.6.1,<2"

[feature.cplex]
channels = ["conda-forge", "ibmdecisionoptimization"]
platforms = ["linux-64"]

[feature.jit.tasks]
python = 'python -X jit'

[feature.pulp.dependencies]
pulp = ">=2.8.0,<3"
python = ">=3.12.8,<3.13"

[feature.pypy310.dependencies]
pypy = ">=7.3.15,<8"
python = ">=3.9.18,<3.10"
networkx = ">=3.2.1,<4"
more-itertools = ">=10.5.0,<11"
pyprojroot = ">=0.3.0,<0.4"
icecream = ">=2.1.3,<3"
matplotlib = ">=3.9.2,<4"

[feature.pypy310.pypi-dependencies]
pytictoc = ">=1.5.3, <2"
